/*SCROLL ANIMATION*/
html{
   /* scroll-snap-type: mandatory; */
   /* scroll-snap-points-y: repeat(300px); */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}

body{
  background-color: #000000/*#00b89a*/ /*#15eba3;*/;
  /* scroll-snap-type: mandatory; */
  /* scroll-snap-points-y: repeat(300px); */
  /* scroll-snap-type: y mandatory; */
  /* scroll-behavior: smooth; */
}


.page{
  height: 100vh;
  max-width: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.page_list_content{
  padding-left: 10vmin;
  padding-right: 10vmin;
  padding-bottom: 2vh;
  margin-top: 10vh;
  font-family: 'Gilroy', sans-serif;
  font-size:calc(18px + 1.0vw);
  /* font-size: calc((1vh/1vw)vmin); */
  line-height: 200%;
  font-weight: 500;
  color:  #f1e0e0;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.page_title{
  margin-left: 10vmin;
  padding-left: 0;
  padding-right: 10vmin;
  padding-top: 6vh;
  padding-bottom: 10vh;
  font-family: 'Gilroy', sans-serif;
  font-size: calc(20px + 2vw);
  line-height: 100%;
  font-weight: 600;

  color:  #ffefc0;
}

.sep{
  font-size:calc(1px + 1vw);
  display: inline;
  width: auto;
  margin: 2vmin;
}

.page_list_content a{
  text-decoration: none;
  color: #f5f3f3;
}

#name{
  margin-left: 10vmin;
  padding-right: 10vmin;
  padding-bottom: 2vmin;
  font-family: 'Gilroy', sans-serif;
  font-size: 10vmin;
  line-height: 100%;
  font-weight: 500;
  color:  #ffefc0;
}

#welcome{
  margin-left: 10vmin;
  padding-right: 10vmin;
  padding-bottom: 2vmin;
  font-family: 'Gilroy', sans-serif;
  font-size: 5vmin;
  line-height: 150%;
  font-weight: 300;
  color:  #ffefc0;
}

#subtitle{
  margin-left: 10vmin;
  padding-right: 9vmin;
  font-family: 'Gilroy', sans-serif;
  font-size: 4vmin;
  line-height: 120%;
  font-weight: 500;
  color:  #fcab86;
}

#subsubtitle{
  font-size: 3vmin;
}

#social_media_set{
  justify-content:flex-start;
  flex-direction: row;
  display: flex;
  margin-left: 10vmin;
  margin-top: 2.5vmin;
}

#social_media_set1{
  display: inline-flex;
  flex-wrap: wrap;
}
.icon{
  padding-left: 0;
  flex: 0 1 8vmin;
}

.icon a{
  color: #444444;
  font-size: 4.75vmin;
}

.icon1 a{
  color: #444444;
  font-size: 2.75vmin;
}

.icon a:hover{
  color: #00b89a;
  font-size: 4.75vmin;
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: min(10px, 7vw);
  background: linear-gradient(to top, #000000, #000000);
  height: 0;
  opacity: 50%;

}

.bg-white {
  background-color: rgb(000 000 000/var(--tw-bg-opacity)) !important;
}

.border-gray-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(95 88 88/var(--tw-border-opacity)) !important;
}

.relative {
  position: relative !important;
}
.columns-1 {
  column-count: 1 !important;
}

.gap-5 {
  gap: 1.25rem !important;
}

.lg\:columns-3 {
  column-count: 3 !important;
}

.sm\:columns-2 {
  column-count: 2 !important;
}

.text-sm {
  font-size: .875rem !important;
  line-height: 1.25rem !important;
  color:  #ffffff;
}

.text-xs {
  font-size: .75rem !important;
  line-height: 1rem !important;
  color:  #ffffff;
}
.navbar-reading_progress::-moz-progress-bar {
  background-color: #91e595;
}

.navbar.is-scrolling .navbar-reading_progress {
  display: block;
}

.navbar-reading_progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  height: 4px;
  width: 100%;
}

.navbar-reading_progress {
  color: #0000;
  display: none;
}

* {
  box-sizing: border-box;
}

.space-y-5>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse:0!important;
  margin-bottom:calc(1.25rem*var(--tw-space-y-reverse))!important;
  margin-top:calc(1.25rem*(1 - var(--tw-space-y-reverse)))!important
 }

.testimonySize {
  max-width: 80%;
  padding-left: 10vmin;
  padding-right: 10vmin;
  padding-bottom: 2vh;
  padding-top: 10vh;
} 

 @media only screen and (max-width: 768px) {
  .lg\:columns-3 {
    column-count: 1 !important;
  }
  
  .sm\:columns-2 {
    column-count: 1 !important;
  }

  .icon1 a{
    color: #444444;
    font-size: 3.75vmin;
  }


.testimonySize {
  max-width: 100%;
  padding-left: 10vmin;
  padding-right: 10vmin;
  padding-bottom: 2vh;
  padding-top: 10vh;
} 

.break-inside-avoid-column {
  -moz-column-break-inside: avoid !important;
  break-inside: avoid-column !important;
}
}
.vertical {
            border-left: 6px solid white;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
}
